    *{
      font-family: "Alfa Slab One", serif;
    }
    
    .alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.body{
  background-color: rgb(253, 161, 161);
}

.inner-box{
  display: flex;
  background-color: rgb(254, 228, 214);
  height: 600px;
  width: 1350px;
  margin-left: 85px;
  margin-top: 60px;
  border-radius: 10px;
}
.hire-button{
  font-weight: bold;
  color: rgb(254, 228, 214);
  background-color: rgb(251, 103, 11);
  border: none;
  border-radius: 10px;
  height: 40px;
  padding-left: 25px;
  padding-right: 25px;

}
.work-button{
  font-weight: bold;
  color: rgb(251, 103, 11);
  background-color: rgb(254, 228, 214);
  border: 2px solid  rgb(251, 103, 11);
  border-radius: 10px;
  height: 40px;
  padding-left: 23px;
  padding-right: 23px;
}

.button-div{
  align-items: center;
  vertical-align: middle;
  margin-top: 300px;

}